@{
    ViewBag.Title = "About";
}
<h2>This page gives a summary of the recent Rugby World Cup 2015</h2>
<h3>    <img src="~/Images/Photo7.jpg" width="1200" height="500" /> </h3>

    <p>
    The 2015 Rugby World Cup was the eighth Rugby World Cup, the quadrennial rugby union world championship. The tournament was hosted by England from 18 September to 31 October. New Zealand won the cup over runners-up Australia, with South Africa defeating Argentina to take third place.

England was chosen to host the competition in July 2009, beating rival bids from Italy, Japan and South Africa. The competition's organisers, Rugby World Cup Limited, had recommended England to the International Rugby Board (IRB; now known as World Rugby).

Of the 20 teams competing at the 2015 World Cup, 12 of them qualified by finishing in the top three places in their pools in the 2011 World Cup. The other eight teams qualified through regional competition. Of the 20 countries competing in the World Cup in 2011, there was only one change: Uruguay replaced Russia. This was the first World Cup with no new teams to the tournament.

In the knockout stage, this was the first Rugby World Cup where no Northern Hemisphere team got beyond the quarter-finals.

On 31 October, at Twickenham, New Zealand won the title, becoming the first team to retain their title, and the first to win for a third time.
    </p>

