@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rugby World Cup 2015</h1>
    <h2> <img src="~/Images/Photo1.jpg" /> </h2>
    <p class="lead">This website is a site for the Rugby World Cup 2015. Below is a Link to see some of the players that played in the tournament.</p>
    <p><a href="http://localhost:62231/Players" class="btn btn-primary btn-lg">See some Players &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stats</h2>
        <p>
            The link below will bring you to a page that will display a number of stats for the most effective players in the turnament.
        </p>
        <p><a class="btn btn-default" href="http://localhost:62231/Stats">See some Stats &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>The link below will allow you to see a few of the more successfull teams that took part in the tournament.</p>
        <p><a class="btn btn-default" href="http://localhost:62231/Team">See some of the Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managers</h2>
        <p>See some of the Managers that managed the teams to success or failure in this World Cup.</p>
        <p><a class="btn btn-default" href="http://localhost:62231/Managers">See some of the Managers &raquo;</a></p>
    </div>
</div>